@model Tavi.StudentDemo.Models.Department
@using Tavi.StudentDemo.HtmlEx
<div class="card-body" id="formControl">
    @using (Html.BeginForm())
    {

        <div class="row">
            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                    @Html.Label("Tên khoa:", new { @class = "control-label" })
                    <span class="required"> (*)</span>
                    @Html.TextBox("DepartmentName", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- textarea -->
                <div class="form-group">
                    @Html.Label("Ghi chú", new { @class = "control-label" })
                    @Html.TextArea("Description", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <!-- textarea -->
            <div class="form-group">
                @Html.Label("Còn sử dụng:", new { @class = "control-label" })
                @Html.CheckBox("Status")
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.Button("Ghi lại", "btn btn-success", "btnGhiLai", "fa fa-floppy-o")
                @Html.Button("Quay lại", "btn btn-default", "btnQuayLai", "fa fa-arrow-left")
            </div>
        </div>

    }

</div>
<script type="text/javascript" language="javascript">
    $('#formControl form').validate({
        rules: {
            DepartmentName: {
                required: true

            },

            terms: {
                required: true
            },
        },
        messages: {
            ClassName: {
                required: "Không được để trống trường này"
            },
            terms: "Please accept our terms"
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
    $(document).ready(function () {
        $("#btnGhiLai").click(function () {
            $("#formControl form").submit();
        });
        //Test('test du lieu');
        //DemoLoad();
    });
</script>


