@using Tavi.StudentDemo.HtmlEx;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách sinh viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Danh sách sinh viên
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <div id="formview">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1"}))
                            {
                                @Html.Hidden("Page")
                                <div class="form-group">
                                    <div class="form-search">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @Html.TextBox("StudentCode", ViewBag.StudentCode as String ,new { @class = "form-control", @placeholder = "Nhập mã sinh viên" })
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBox("FullName", ViewBag.FullName as String, new { @class = "form-control", @placeholder = "Nhập tên sinh viên" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.Button("Tìm kiếm", "btn btn-primary", "btnTimKiem", "fa fa-search-plus")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-button">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" onclick="ShowDialog()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Thêm mới
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Thông tin sinh viên</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" id="ddlForm">

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Button("Xóa", "btn btn-danger", "btnDel", "fa fa-trash-o")
                                        @Html.DropDownList("ListDepartmentStatus",null, new { @class= "btn btn-succsess", onchange = "SelectedIndexChanged()" })
                                    </div>
                                    <div class="form-button">                                     
                                        <div class="modal fade bd-example-modal-lg" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Chi tiết sinh viên</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>   
                                                    <div class="modal-body" id="ddlForm">

                                                    </div>
                                                    <div class="modal-body" id="ddlDetail">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ddlListStudent">
                                </div>
                                <button type="button" class="btn btn-success" id="btnQuaylai">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Quay lại
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section jsFooter{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script language="javascript" type="text/javascript">
        

        function ShowDialog(id) {
            $("#exampleModal").modal("show");
            LoadAdd(id);          
        }
        function ShowDialog2(id) {
            $("#exampleModal2").modal("show");
            LoadDetail(id);
        }
        //function SelectedIndexChanged() {
        //    //Form post  
        //    form1.submit();
        //}  
        $(document).keypress(function (e) {
            if (e.which == 13) {
                var StudentCode = $("#StudentCode").val();
                var FullName = $("#FullName").val();
                ListStudent(StudentCode, FullName);
            }
        });
        function ListStudent(StudentCode, FullName, DepartmentID, PageCurrent) {
            $.ajax({
            url: '@Url.Action("LoadListStudent")',
            data: {
                StudentCode: StudentCode,
                FullName: FullName,
                DeparmentID: DepartmentID,
                PageCurrent: PageCurrent
            },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#ddlListStudent").html(data);
            },
            error: function () {

            },
            complete: function (data) {

            }
                 });
        }
        function LoadDetail(id) {
            $.ajax({
            url: '@Url.Action("LoadDetail")',
            data: {
                id: id
            },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#ddlDetail").html(data);
            },
            error: function () {

            },
            complete: function (data) {

            }
                 });
        }

        function LoadAdd(Id, StudentCodee, FullNamee, Birthday, Address, Phone, Email, Description, ListDepartmentID, ListClassRoomID, Status ) {
            $.ajax({
            url: '@Url.Action("LoadForm")',
            data: {
                Id: Id,
                StudentCode: StudentCodee,
                FullName: FullNamee,
                Birthday: Birthday,
                Address: Address,
                Phone: Phone,
                Email: Email,
                Description: Description,
                ListDepartmentID: ListDepartmentID,
                ListClassRoomID: ListClassRoomID,
                Status: Status
            },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#ddlForm").html(data);
            },
            error: function () {

            },
            complete: function (data) {

            }
                 });
        }


        ListStudent();



        $(document).ready(function () {
            $('#btnTimKiem').click(function () {         
                var StudentCode = $("#StudentCode").val();
                var FullName = $("#FullName").val();
                ListStudent(StudentCode, FullName);
        });
            $('#btnDel').click(function () {
            var checked = $("input:checked[name='cbxItem']");
            if (checked.length > 0) {
                var ids = $("input:checked").map(function () {
                    return $(this).val();
                }).get();

                //$("#formview form").attr('action', '@Url.Action("Delete")');
                if (confirm("Nếu xóa trường này, bạn sẽ không thể khôi phục lại! Vẫn xóa!")) {
                    delteteStudent(ids);
                }
            } else {
                alert("Bạn phải chọn sinh viên cần xóa");
            }

        });
            function delteteStudent(cbxItem) {
                $.ajax({
                    url: '/Student/Delete',
                    data: {
                        cbxItem: cbxItem
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == true) {
                            alert("Xóa sinh viên thành công " + " " + response.data[0]);
                            ListStudent();
                        } else {
                            alert("Xóa thất bại");
                        }
                                                
                    },
                    error: function () {

                    }
                })
            };


        $('#Create').click(function () {
            window.location = '@Url.Action("Add")';
        });
         $('#btnAdd').click(function () {
            window.location = '@Url.Action("Add")';
         });
            $('#btnQuaylai').click(function () {
                window.location = '@Url.Action("Index")';
            })


        });
                 
    </script>

}






